/*Design*/
.hamburger-button{
    position: absolute;
    top:1em;
    right:1em;
    transition-duration:.5s;
    justify-content: flex-end;
    cursor: pointer;
}

/*classes for JS*/
.p-fixed{ position: fixed; }
.filter-b{ background: rgba(0, 0, 0, 0.7); }

.hamburger-ingredient{
    background-color: #989797;
    border-radius: 1em;
    height: .4em;
    width: 2.5em;
    margin: .2em;
    transition: all .5s ease-in-out;
}


.hamburger-button:hover > .hamburger-ingredient{
    background-color: #999; 
    filter: brightness(70%);
}

/*Transforms*/

.to-bottom{ margin-top: .7em; }

.top-transform{ transform: rotate(45deg); }

.mid-transform{ transform: translateY(-.6em) rotate(-45deg) ; }

.bottom-transform{ transform: translateY(-1.2em) rotate(-45deg) ; }

/*Hamburger list*/

.hamburger-menu{ 
    position: fixed;
    width:100%; 
    z-index: 100;
}

ul.hamburger-list{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    width:100%;
}

ul.hamburger-list > .hamburger-item-list{
    padding: .5em;
    margin: .5em;
    border-bottom: .1em solid #ffffff;
}

ul.hamburger-list > .hamburger-item-list > a{
    text-decoration: none;
    color:#fff;
    display: block;
    transition-duration:.5s;
}

ul.hamburger-list > .hamburger-item-list > a:hover{
    color: #aaa;
    font-weight: 700;
    letter-spacing: .1em;
    cursor: pointer;  
}

.no-display{
    display: none;
    transition-duration: 1s;
}

/*Media Queries*/

@media (min-width:640px){
    
    .hamburger-menu{ position: static; }
    
    .hamburger-button{ display: none; }
    
    .hamburger-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .hamburger-item-list{
        width:25%;
        font-size:2em;
    }
    
    .no-display{ display: block; }  
    
    ul.hamburger-list > .hamburger-item-list{ border-bottom: .1em solid #aaa; }
    
    ul.hamburger-list > .hamburger-item-list > a{ color: #000; }
}
