body{
    margin: 0;
    transition-duration: 1s;
}

.flex-parent{
    display: flex;
    position: relative;
    justify-content: flex-start;    
}

h3{
    flex-basis: 20;
    box-sizing: border-box;
    padding-left: 1em;
}

.example-text{
    padding: 2em;
    font-size: 150%;
}

footer{ text-align: center; }
